// 颜色定义规范
$color-theme = #706b82
$color-split-line = #f1eff5
$color-background = #f9f9f9

// 文字颜色
$color-text-t = #FF4E00
$color-text = #464646  // 文字色1
$color-text-d = #696671  // 文字色2
$color-text-tr = #b6b6b6 // 文字色3
$color-text-dd = #868590  // 灰色
$color-text-ll = #9C9BAE // 浅灰色
$color-text-g = #ffda4f // 金色字体
$color-text-transwhite = rgba(255,255,255,.7) // 红包字体

$color-assist-f = #DADADA  //辅助色1
$color-assist-tw = #00C350  //辅助色1
$color-assist-tr = #FF4E00  //辅助色1

// 辅助色
$color-white = #ffffff  // 白色
$color-light-gray = #dadada  // 浅浅灰
$color-green = #00c350 // 绿色
$color-orange = #ff4e00 // 橙色
$color-orange-d = #f04f35  // 红包橙
$color-yellow = #fdfb00 // 黄色

// 遮罩
$color-mask-bgc = rgba(54, 53, 71, .5)

//// 横线色值
$color-row-line = #F0EFF5
//// 竖线色值
$color-col-line = #F0EFF5

//字体
$font-family-regular = 'PingFangSC-Regular'
$font-family-light = 'PingFangSC-Light'

// 字体大小
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-m = 20px
$font-size-large-l = 21px
$font-size-large-xx = 24px

// 边距
$padding-all = 12px


