@import "./mixin.styl"
@import "./variable.styl"

$color-D32F2F = #D32F2F
$color-EB5C5C = #EB5C5C
$color-D32F2F = #D32F2F
$color-455A64 = #455A64
$color-F4F5F7 = #F4F5F7
$color-E0E2E5 = #E0E2E5
$color-99A0AA = #99A0AA
$color-FFA807 = #FFA807
$color-1F1F1F = #1F1F1F
$color-6E6E6E = #6E6E6E
$color-B1B1B1 = #B1B1B1
$color-D2D2D2 = #D2D2D2

button-normal-style()
  background-image: linear-gradient(90deg, $color-EB5C5C 0%, $color-D32F2F 100%)
  border-radius: 6px


