@import "./mixin.styl"
@import "./variable.styl"

$color-D32F2F = #D32F2F
$color-ED2C2B = #ED2C2B
$color-EB5C5C = #EB5C5C
$color-D32F2F = #D32F2F
$color-455A64 = #455A64
$color-F4F5F7 = #F4F5F7
$color-E0E2E5 = #E0E2E5
$color-99A0AA = #99A0AA
$color-FFA807 = #FFA807
$color-1F1F1F = #1F1F1F
$color-6E6E6E = #6E6E6E
$color-B1B1B1 = #B1B1B1
$color-D2D2D2 = #D2D2D2
$color-CCCCCC = #CCCCCC
$color-BC4949 = #BC4949
$color-A82525 = #A82525
$color-FFFFFF = #FFFFFF
$color-000028 = #000028
$color-20202E = #20202E
$color-374B63 = #374B63
$color-F94C5F = #F94C5F
$color-828AA2 = #828AA2
$color-F8F8F8 = #F8F8F8
$color-F0F2F5 = #F0F2F5
$color-466889 = #466889
$color-FFEEC3 = #FFEEC3
$color-CB5F43 = #CB5F43
$color-BD2222 = #BD2222

// 常规按钮 + 一般按钮
normal-button-style($type = normal, $width = 200px, $height = 41px, $radius = 6px, $fontSize = $font-size-16)
  font-family: $font-family-medium
  font-size: $fontSize
  color: $color-FFFFFF
  background-image: linear-gradient(90deg, #FE7754 0%, #ED2B2B 100%)
  border-radius: $radius
  text-align: center
  line-height: $height
  height: $height
  width: $width
  if ($type == click)
    background-image: linear-gradient(90deg, $color-CB5F43 0%, $color-BD2222 100%)
    color: $color-CCCCCC
  else if ($type == un-click )
    opacity: 0.6

button-style($type = normal, $radius = 6px)
  background-image: linear-gradient(90deg, #FE7754 0%, #ED2B2B 100%)
  border-radius: $radius
  text-align: center
  if ($type == click)
    background-image: linear-gradient(90deg, $color-CB5F43 0%, $color-BD2222 100%)
  else if ($type == un-click )
    opacity: 0.6

// 功能按钮
manager-button-style($type = normal, $width = 77px, $height = 29px)
  font-family: $font-family-regular
  font-size: $font-size-12
  color: $color-D32F2F
  border-radius: 15px
  text-align: center
  line-height: $height
  height: $height
  width: $width
  border-1px($color-D32F2F, 15px)
  if ($type == click)
    background: $color-F4F5F7
    border-1px($color-D32F2F, 15px)
    color: $color-D32F2F
    font-size: $font-size-14
  else if ($type == un-click )
    font-size: $font-size-12
    border-1px($color-B1B1B1, 15px)
    color: $color-B1B1B1

share-button-style($type = normal, $width = 66px, $height = 24px)
  font-family: $font-family-medium
  font-size: $font-size-12
  color: $color-D32F2F
  border: 1px solid $color-D32F2F
  border-radius: 15px
  width: $width
  height: $height
  line-height: $height
  text-align: center
  if ($type == un-click )
    font-size: $font-size-12
    border: 1px solid $color-B1B1B1
    color: $color-B1B1B1

card-shadow()
  box-shadow: 0 0 10px 0 rgba(141, 151, 158, 0.20)

